body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Evita el scroll mientras el loader está visible */
}

.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgb(249, 249, 249);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

.loader img {
    width: 150px; /* Ajusta el tamaño del logo según tus necesidades */
}
