* {
    margin: 0;
    padding: 0;
}


body {
    background: #253745;
}






.Container {
    position: fixed;
    width: 100vw;

    z-index: 250;

}

li{
    color: #253745;
}

.NavigationBar {
    position: absolute;
    height: 12vh;
    width: 100%;
    background: #06141B;
    align-content: center;

}

.Menu li a {
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
    color: #CCD0CF;
    padding: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;

}

.Menu li a:hover {
    text-decoration: none;
    color: #06141B;
    background: #fff;
    
    border-radius: 20px;
    padding: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    transition: 0.5s;

}


.Menu li {
    
    z-index: 100;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-left: 68.2%;
    font-size: 16px;
    
    
}
  /* Estilo para cuando el input está enfocado */
input:hover {
    width: 20%;
    margin-left: 64.2%;
    transition: 0.9s;
    
}

::placeholder{
    font-size: small;
}








/********************************************************************/
/************************PAGINA DE RESTAURANTES**********************/
/********************************************************************/


.GaleriaResto {

    position: absolute;
    top: 120px;

    width: 98.3vw;
}


.GaleriaResto .GaleriaRestaurantes {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Restaurante img {

    width:18vw;
   /* width: 225px;*/
    border-radius: 6px 0px 0px 6px;
    height: 40vh;


}

.GaleriaResto .GaleriaRestaurantes .Restaurante {
    display: flex;
    background-color: #4A5C6A;
    font-size: small;
    width: 70vw;
    height: 40vh;
    align-items: center;
    border-radius: 6px;
    margin-top: 20px;
}

.GaleriaResto .GaleriaRestaurantes div p {
    margin-left: 25px;
    position: relative;
}

.GaleriaResto .GaleriaRestaurantes div h3 {
    margin-bottom: 10%;
    position: absolute;
    margin-left: 20%;
    width: 190px;


}

#capitan img,
#napule img,
#SanCarlos img {
    width: 40vw;
    height: 40vh;
}

#napule .puntuacion,
#capitan .puntuacion,
#SanCarlos .puntuacion {
    margin-left: 17.8%;
    width: 31vw;
}




.Restaurante .puntuacion {
    display: flex;
    position: absolute;
    align-items: start;
    flex-direction: column;

    height: 10vh;
    margin-bottom: 4%;
    margin-left: 17.8%;
    width: 20vw;
}

.GaleriaResto .GaleriaRestaurantes .Restaurante .Ubicacion {
    position: relative;
    width: 20vw;
    display: flex;
    margin-top: 120px;
    margin-right: 2px;
    height: 15vh;
 


}


.GaleriaResto .GaleriaRestaurantes .Restaurante .Ubicacion img {
    width: 10vw;
    height: 15vh;
    
}

.GaleriaResto .GaleriaRestaurantes .Restaurante .Ubicacion img:hover {
    width: 12vw;
    height: 17vh;
    transition: 1s;

}

#capitan .Ubicacion img,
#napule .Ubicacion img,
#SanCarlos .Ubicacion img {
    width: 10vw;
    height: 15vh;

}






















/********************************************************************/
/************************PAGINA DE bARES*****************************/
/********************************************************************/








.ContainerBares {

    position: absolute;
    top: 120px;

    width: 98.3vw;
}


.ContainerBares .GaleriaBares {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Bares img {
    width:18vw;
   /* width: 225px;*/
    border-radius: 6px 0px 0px 6px;
    height: 40vh;


}

.ContainerBares .GaleriaBares .Bares {
    display: flex;
    background-color: #4A5C6A;
    font-size: small;
    width: 70vw;
    height: 40vh;
    align-items: center;
    border-radius: 6px;
    margin-top: 20px;
}

.ContainerBares .GaleriaBares div p {
    margin-left: 25px;
    position: relative;
}

.ContainerBares .GaleriaBares div h3 {
    margin-bottom: 10%;
    position: absolute;
    margin-left: 20%;
    width: 190px;


}

#capitan1 img,
#napule1 img,
#SanCarlos1 img {
    width:25vw;
    /* width: 225px;*/
     border-radius: 6px 0px 0px 6px;
     height: 40vh;
}

#napule1 .puntuacion,
#capitan1 .puntuacion,
#SanCarlos1 .puntuacion {
    margin-left: 17.8%;
    width: 31vw;
}




.Bares .puntuacion {
    display: flex;
    position: absolute;
    align-items: start;
    flex-direction: column;

    height: 10vh;
    margin-bottom: 40px;
    margin-left: 17.8%;
    width: 20vw;
}

.ContainerBares .GaleriaBares .Bares .Ubicacion {
    position: relative;
    width: 20vw;
    display: flex;
    margin-top: 120px;
    margin-right: 2px;
    height: 15vh;


}


.ContainerBares .GaleriaBares .Bares .Ubicacion img {
    width: 10vw;
    height: 15vh;
    border-radius: 0;



}

.ContainerBares .GaleriaBares .Bares .Ubicacion img:hover {
    width: 12vw;
    height: 17vh;
    transition: 1s;

}

#capitan1 .Ubicacion img,
#napule1 .Ubicacion img,
#SanCarlos1 .Ubicacion img {
    width: 10vw;
    height: 15vh;
    border-radius: 0;

}















/********************************************************************/
/************************PAGINA DE MERIENDAS*************************/
/********************************************************************/






.ContainerMeriendas {

    position: absolute;
    top: 120px;

    width: 98.3vw;
}


.ContainerMeriendas .GaleriaMeriendas {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Meriendas img {
    width:18vw;
   /* width: 225px;*/
    border-radius: 6px 0px 0px 6px;
    height: 40vh;


}

.ContainerMeriendas .GaleriaMeriendas .Meriendas {
    display: flex;
    background-color: #4A5C6A;
    font-size: small;
    width: 70vw;
    height: 40vh;
    align-items: center;
    border-radius: 6px;
    margin-top: 20px;
}

.ContainerMeriendas .GaleriaMeriendas div p {
    margin-left: 25px;
    position: relative;
}

.ContainerMeriendas .GaleriaMeriendas div h3 {
    margin-bottom: 10%;
    position: absolute;
    margin-left: 20%;
    width: 190px;


}

#capitan2 img,
#napule2 img,
#SanCarlos2 img {
    width:40vw;
    /* width: 225px;*/
     border-radius: 6px 0px 0px 6px;
     height: 40vh;
}

#napule2 .puntuacion,
#capitan2 .puntuacion,
#SanCarlos2 .puntuacion {
    margin-left: 17.8%;
    width: 31vw;
}




.Meriendas .puntuacion {
    display: flex;
    position: absolute;
    align-items: start;
    flex-direction: column;

    height: 10vh;
    margin-bottom: 40px;
    margin-left: 17.8%;
    width: 20vw;
}

.ContainerMeriendas .GaleriaMeriendas .Meriendas .Ubicacion {
    position: relative;
    width: 20vw;
    display: flex;
    margin-top: 120px;
    margin-right: 2px;
    height: 15vh;



}


.ContainerMeriendas .GaleriaMeriendas .Meriendas .Ubicacion img {
    width: 10vw;
    height: 15vh;
   
}

.ContainerMeriendas .GaleriaMeriendas .Meriendas .Ubicacion img:hover {
    width: 12vw;
    height: 17vh;
    transition: 1s;

}

#capitan2 .Ubicacion img,
#napule2 .Ubicacion img,
#SanCarlos2 .Ubicacion img {
    width: 10vw;
    height: 15vh;
    border-radius: 0;

}























/********************************************************************/
/************************PAGINA DE RESPONSIVE************************/
/********************************************************************/












@media only screen and (max-width:800px){







    .Container .NavigationBar{
        position: fixed;

    }
    .GaleriaResto {

        position: absolute;
        top: 120px;
    
        width: 90.3vw;
        
    }
    
    
    .GaleriaResto .GaleriaRestaurantes {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
       
        justify-content: center;
        margin-left: 10%;
    
    }
    
    .Restaurante img {
        width: 70vw;
        border-radius: 6px 0px 0px 6px;
    
        height: 14vh;
    
    
    }
    
    .GaleriaResto .GaleriaRestaurantes .Restaurante {
        display: inline-block;
        background-color: #4A5C6A;
        font-size: small;
        width: 70vw;
        height: 30vh;

        flex-wrap: nowrap;
        border-radius: 6px;
        
    }
    
    .GaleriaResto .GaleriaRestaurantes div p {
        margin-left: 10px;
        font-size: 10px;
        margin-top: 15%;
        position: relative;
    }
    
    .GaleriaResto .GaleriaRestaurantes div h3 {
       
        margin-bottom: 125px;
        position: absolute;
        margin-left: 1%;
        font-size: large;
    
    
    }
    
    #capitan img,
    #napule img,
    #SanCarlos img {
        width: 70vw;
    }
    
    .ImagenUbicacion{
        display: none;
    }


    #napule .puntuacion,
    #capitan .puntuacion,
    #SanCarlos .puntuacion{
        margin-left: 1%;
        margin-top: 9%;
    }



    .Restaurante .puntuacion {
        display: flex;
        position: absolute;
        align-items: start;
        flex-direction: column;
        height: 10vh;
        margin-top: 9%;
        margin-left: 1%;
        width: 20vw;
    }

    .GaleriaResto .GaleriaRestaurantes .Restaurante  .puntuacion p{
        font-size: 15px;
        bottom: 120%;
    }


    li{
        display: flex;
        
    }

    input{
        display: none;
    }



    
    
    .ContainerBares .GaleriaBares {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        
        justify-content: center;
        
    
    }
    
    .Bares img {
        width: 70vw;
        border-radius: 6px 0px 0px 6px;
    
        height: 14vh;
    
    
    }
    
    .ContainerBares .GaleriaBares .Bares {
        display: inline-block;
        background-color: #4A5C6A;
        font-size: small;
        width: 70vw;
        height: 30vh;

        flex-wrap: nowrap;
        border-radius: 6px;
        
    }
    
    .ContainerBares .GaleriaBares div p {
        margin-left: 10px;
        font-size: 10px;
        margin-top: 15%;
        position: relative;
    }
    
    .ContainerBares .GaleriaBares div h3 {
       
        margin-bottom: 125px;
        position: absolute;
        margin-left: 1%;
        font-size: large;
    
    
    }
    
    
    #napule2 img,
    #SanCarlos2 img {
        width: 70vw;
    }
    

    .ContainerBares .GaleriaBares .Bares .Ubicacion{
        display: none;
    }



    #napule2 .puntuacion,
    
    #SanCarlos2 .puntuacion{
        margin-left: 1%;
        margin-top: 6%;
    }



    .Bares .puntuacion {
        display: flex;
        margin-top: 7%;
        position: absolute;
        align-items: start;
        flex-direction: column;
        height: 10vh;
        
        margin-left: 1%;
        width: 20vw;
    }

    .ContainerBares .GaleriaBares .Bares  .puntuacion p{
        font-size: 15px;
        bottom: 120%;
    }










    .ContainerMeriendas .GaleriaMeriendas {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        
        justify-content: center;
        
    
    }
    
    .Meriendas img {
        width: 70vw;
        border-radius: 6px 0px 0px 6px;
    
        height: 14vh;
    
    
    }
    
    .ContainerMeriendas .GaleriaMeriendas .Meriendas {
        display: inline-block;
        background-color: #4A5C6A;
        font-size: small;
        width: 70vw;
        height: 30vh;

        flex-wrap: nowrap;
        border-radius: 6px;
        
    }
    
    .ContainerMeriendas .GaleriaMeriendas div p {
        margin-left: 10px;
        font-size: 10px;
        margin-top: 15%;
        position: relative;
    }
    
    .ContainerMeriendas .GaleriaMeriendas div h3 {
       
        margin-bottom: 125px;
        position: absolute;
        margin-left: 1%;
        font-size: large;
    
    
    }
    
    
    #napule1 img,
    #SanCarlos1 img {
        width: 70vw;
    }
    

    .ContainerMeriendas .GaleriaMeriendas .Meriendas .Ubicacion{
        display: none;
    }



    #napule1 .puntuacion,
    
    #SanCarlos1 .puntuacion{
        margin-left: 1%;
        margin-top: 7%;
        
    }



    .Meriendas .puntuacion {
        display: flex;
        position: absolute;
        margin-top: 7%;
        align-items: start;
        flex-direction: column;
        height: 10vh;
        
        margin-left: 1%;
        width: 20vw;
    }

    .ContainerMeriendas .GaleriaMeriendas .Meriendas  .puntuacion p{
        font-size: 15px;
        bottom: 120%;
    }


}



/*    .GaleriaResto .GaleriaRestaurantes .Restaurante .puntuacion {
        display: flex;
        position: absolute;
        margin-left: 1%;
    
    }

    .GaleriaResto .GaleriaRestaurantes .Restaurante .puntuacion p{
        font-size: 20px;
    }*/