body{
    background: #4A5C6A;
}

.Container{
    position: fixed;
    width: 100vw;
    z-index: 250;
}




#Icono{
    display: none;
}

#MenuOculto{
    display: none;
}




.NavigationBar{
    position: absolute;
    height: 12vh;
    width: 100%;
    background: #06141B;
    align-content: center; 
}

.Opciones a {
    text-decoration: none;
    color: #26292b;
}

.Menu{
    margin-top: 10px;
}

.Menu li a{
    text-decoration: none; 
    font-weight: bold;
    margin-left: 10px;
    color: #CCD0CF;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    border-radius: 20px;
    transition:0.2s;
}

.Menu .OpcionRecomendar a{
    margin-left:440px;
    color: #ffffff;
   
}

.Menu li a:hover{
    text-decoration: none;
    color:#06141B;
    background: #fff;;
    border-radius: 20px;
    padding: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    transition:0.5s;
}

.Menu li{
    
    display: inline-block;
    z-index: 100;
}

.ImagenPrincipal{
    position: relative;
    top: 20px;
    width: 98vw;
    height: 100vh;
    text-align: center;
    box-shadow: 15px 15px 15px 15px rgba(101, 42, 8, 0.4); 
}

.ImagenPrincipal img{
    position: absolute;
    display: block;
    top: 25%;
    left: 50%;
    margin:0;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    filter: brightness(0.38);
    width: 101.4%;
}

.ImagenPrincipal img::selection{
    position: absolute;
    display: block;
    top: 25%;
    left: 50%;
    margin:0;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    filter: brightness(0.38);
    width: 101.4%;
    background-color: transparent;
}

.TituloWeb{
    position: relative;
    top: 100px;
    z-index: 150;
    font-size: 90px;
    color: #fff;
}

.TituloWeb::selection{
    background-color: transparent;
    position: relative;
    top: 100px;
    z-index: 150;
    font-size: 90px;
}

.Subtitulo{
    position: relative;
    color: white;
    top: 120px;
    font-weight: bold;
    z-index: 150;
}

.Subtitulo::selection{
    position: relative;
    color: white;
    background: transparent;
    top: 120px;
    font-weight: bold;
    z-index: 150;
}

.ContenedorOpciones{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}

.ContenedorOpciones .Opciones{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
    padding: 10px;
}

.ContenedorOpciones .Opciones div{
    width: 20vw;
    height: 50vh;
    margin-left: 60px;
    margin-bottom: 10px; /* Espacio entre los elementos */
    padding: 10px; /* Añadir espaciado interno para mejor apariencia */
    border: 1px solid #ccc; /* Añadir un borde para diferenciar las opciones */
    border-radius: 10px; /* Añadir esquinas redondeadas */
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContenedorOpciones .Opciones div:hover{
    width: 20vw;
    height: 50vh;
    margin-left: 60px;
    box-shadow: 15px 15px 15px rgba(255, 255, 255, 0.4);
    transition: 0.5s;
    background: #fff;
    margin-bottom: 10px; /* Espacio entre los elementos */
    padding: 10px; /* Añadir espaciado interno para mejor apariencia */
    border: 1px solid #ccc; /* Añadir un borde para diferenciar las opciones */
    border-radius: 10px; 
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.ContenedorOpciones .Opciones div img{
    width: 5vw;
    display: flex;
}

#carouselExampleAutoplaying{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 20vw;
    display: flex;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.Carrousels{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    border-radius: 10px;
}

.carrousel-inner{
    border: 2px solid #333; /* Borde sólido */
    border-radius: 10px; /* Bordes redondeados */
}

#ContenedorSobreNosotros{
    position: relative;
    top: 10px;
    max-width: 100%;
    height: 100vh;
    background: #06141B;
    box-shadow: 15px 15px 15px 15px rgba(26, 92, 213, 0.4);
}

#ContenedorSobreNosotros h1{
    color: #CCD0CF;
    position: absolute;
    margin-left: 15px;
    top: 15%; 
}

#ContenedorSobreNosotros .ContainerTextoSobreNosotros{    
    display: flex;
    position: absolute;
    margin-top: 15%;
    height: 45vh;
    margin-left: 15px;
    width: 80vw;
    color: white;
}

#ContenedorSobreNosotros .ContainerTextoSobreNosotros .TextoSobreNosotros{
    font-size: 20px;
    text-align: justify;
}

#ContenedorSobreNosotros .ContainerTextoSobreNosotros .TextoSobreNosotros::selection{
    font-size: 15px;
    text-align: justify;
    background-color: transparent;
}

.carousel-item img{
    height: 45vh;
    width: 30vw;
    border-radius: 10px;
}

footer {
    position: relative;
    background: #06141B;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    height: 90vh; 
}

.mb-3{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px; 
    margin-left: 25% ;
}

.form-control{
    background: #CCD0CF;
    margin-bottom: 20px;
}

.btn {
    background: #35414b;
    border: #061117;
    width: 15vw;
}

.btn:hover {
    background: #fff;
    color: black;
    box-shadow: 2px 8px 2px rgb(123, 110, 110);
}

.RealizadaPor{
    position: relative;
    margin-top: 80px;
    font-size: 12px;
    margin-left: 72%;
}

.RedesSociales{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    width: 40vw;
    bottom: 15px;
}

.RedesSociales img{
    margin-left: 40px;
    position: relative;
    width: 3vw;
    
    filter: brightness(0.2);
    transition: 0.5s;
}

.RedesSociales img:hover{
    transition: 1s;
    filter: none;
}


h5{
    position: absolute;
    margin-left: 40px;
}






/**************************************************************************************/
/************************************* RESPONSIVE ************************************/
/*************************************************************************************/

@media only screen and (max-width:800px){

    .Menu{
        display: none;
        justify-content: center;
        align-items: center;
    }



    #Icono{
        display: block;
        right: 10%;
        text-decoration: wavy;
        color: white;
    }

    .Menu .OpcionRecomendar{
        display: none;

    }

    .TituloWeb{
        margin-top: 80px;
        font-size: 50px;
    }



    .Menu li a{
        display: flex;
        text-decoration:underline;
       
        color: #ffffff;
        font-weight: bold;
        padding: 5px;
        
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 17px;
    }

    .NavigationBar{

        max-width: 100%;
        position: absolute;

        height: 10vh;
        background: #06141B;
        align-content: center;  
    }

    .ImagenPrincipal{
        position: relative;
        top: 20px;
        width: 100vw;
        height: 72vh;
        text-align: center;
    }
    
    .ImagenPrincipal img{
        position: absolute;
        display: block;
        height: 150vh;
        left: 50%;
        margin:0;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100%
    }

    .ContenedorOpciones{
        display: flex;
        margin-top: 200px;
        flex-direction: column;
        display: flex;
        flex-direction: column; 
        margin-right: 35px;
        justify-content: center; 
        align-items: center; 
        height: 100vh;
    }

    .ContenedorOpciones .Opciones{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        padding: 10px;
    }

    .ContenedorOpciones .Opciones div{
        width: 50vw;
        height: 30vh;
        margin-bottom: 10px; /* Espacio entre los elementos */
        padding: 10px; /* Añadir espaciado interno para mejor apariencia */
        border: 1px solid #ccc; /* Añadir un borde para diferenciar las opciones */
        border-radius: 5px; /* Añadir esquinas redondeadas */
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ContenedorOpciones .Opciones div img{
        width: 20vw;
    }

    #ContenedorSobreNosotros{
        position: relative;
        top: 60px;
        max-width: 100%;
        height: 70vh;
        background: #06141B;
    }

    #ContenedorSobreNosotros h1{
        color: #CCD0CF;
        position:absolute;
        margin-left: 9px;
        margin-top: -30;
    }

    #ContenedorSobreNosotros .ContainerTextoSobreNosotros{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin-top: 30%;
        height: 45vh;
        color: white;
    }
    
    #ContenedorSobreNosotros .ContainerTextoSobreNosotros .TextoSobreNosotros{
        font-size: 15px;
        text-align: justify;
    }

    .carousel-item img{
        height: 20vh;
        width: 80vw;
        border-radius: 10px;
    }

    .RealizadaPor{
        display: none;
    }

    h5{
        bottom: 25%;
    }

    .RedesSociales{
        position: absolute;
        bottom: 15%;
    }
}