*{
    margin: 0;
    padding: 0;
}


body{
    background: #4A5C6A;
}

.Container{
    position: fixed;
    width: 100vw;
   
    z-index: 250;
    
}


.NavigationBar{
    position: absolute;
    height: 12vh;
    width: 100%;
    background: #06141B;
    align-content: center;
    
}

.Menu li a{
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
    color: #CCD0CF;
    padding: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;

}

.Menu li a:hover{
    text-decoration: none;
    color:#06141B;
    background: #fff;;
    border-radius: 20px;
    padding: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    transition:0.5s;

}


.Menu li{
    display: inline-block;
    z-index: 100;

}








.ImagenPrincipal{
    position: relative;
    top: 20px;
    width: 98vw;
    height: 100vh;
    text-align: center;
    box-shadow: 15px 15px 15px 15px rgba(101, 42, 8, 0.4);
    
}

.ImagenPrincipal img{
    position: absolute;
    display: block;
    top: 25%;
    left: 50%;
    margin:0;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    filter: brightness(0.38);

    width: 101.4%;

}

.TituloWeb{
    position: relative;
    top: 100px;
    z-index: 150;
    color: #fff;
}



.ContenedorOpciones{
    position: relative;
    width: 90vw;
    height: 60vh;
    top: -10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
   
    align-items: center;
}


.ContenedorOpciones a img{
    
    display: flex;
    
    margin-left: 105%;
    margin-bottom: 120px;

    align-items: center;
    
    
    
    width: 60px;
}



.ContenedorOpciones div:hover{
    box-shadow: 0 15px 15px rgba(255, 255, 255, 0.4);
    transition: 0.5s;
    background: #fff;
}



.ContenedorResto{
   

    position: relative;
    border-radius: 5%;
    width:15vw;
    display: flex;
    margin-left: 300px;
    align-items: center;
    background: #CCD0CF;

    
    height: 40vh;
}

.ContenedorResto h2{
    position: relative;
    right: 16%;
    top: 20px;
}


.ContenedorBar{
    position: relative;
    border-radius: 5%;
    width:15vw;
    display: flex;
    align-items: center;
    background: #CCD0CF;
    
    height: 40vh;
}
.ContenedorBar h2{
    position: relative;
    left: 6px;
    top: 20px;
}


.ContenedorDulce{
    position: relative;
    border-radius: 5%;
    width:15vw;
    margin-right: 150px;
    display: flex;
    align-items: center;
    background: #CCD0CF;
    
    height: 40vh;
}

.ContenedorDulce h2{
    position: relative;
    right: 10%;
    top: 20px;
}



#ContenedorSobreNosotros{
    position: relative;
    top: 10px;
    max-width: 100%;
    height: 50vh;
    background: #06141B;
    box-shadow: 15px 15px 15px 15px rgba(26, 92, 213, 0.4);
    
    

}
#ContenedorSobreNosotros h1{
    color: #CCD0CF;
    position: absolute;
    top: 5%; /* Posiciona el título a la mitad de la altura del contenedor */

}







footer {
    position: relative;
    background: #06141B;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
    height: 20vh;
}









































@media only screen and (max-width:500px){


    .Menu li a{
        text-decoration: none;

        color: #CCD0CF;
        font-weight: bold;
        padding: 5px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 18px;
    
    }


    .NavigationBar{
        max-width: 100%;
        position: absolute;
        height: 20vh;
      
        background: #06141B;
        align-content: center;
        
    }


    .ImagenPrincipal{
        position: relative;
        top: 20px;
        width: 100vw;
        height: 72vh;
        text-align: center;
    }
    
    .ImagenPrincipal img{
        position: absolute;
        display: block;
        height: 150vh;
        left: 50%;
        margin:0;

        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    
        width: 100%
    
    }



    .ContenedorOpciones{
        position: relative;
        
        
        width: 5vw;
        height: 50vh;
        top: 300px;
        display: flex;
        margin-left: 5px;
        flex-direction: column;
        justify-content: center;


        
    }
    
    
    .ContenedorOpciones a img{
        
        display: flex;
        
        margin-left: 20px;
        margin-bottom: 70px;
    
        align-items: center;
        
        
        
        width: 140px;
    }
    
    
    
    .ContenedorOpciones div:hover{
        box-shadow: 0 15px 15px rgba(255, 255, 255, 0.4);
        transition: 0.5s;
        background: #fff;
    }
    
    
    
    .ContenedorResto{
       
    
        position: relative;
        border-radius: 4%;
        width:180px;
        display: flex;
        margin-left: 300px;
        
        align-items: center;
        background: #CCD0CF;
    
        
        height: 45vh;
    }

    h2{
        display: none;

    }
    
    .ContenedorBar{
        position: relative;
        border-radius: 5%;
        width:180px;
        display: flex;
        align-items: center;
        margin-left: 300px;
        margin-top: 10px;
        background: #CCD0CF;
        
        height: 45vh;
    }
    
    
    .ContenedorDulce{
        position: relative;
        border-radius: 5%;
        width:180px;
        margin-left: 450px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        background: #CCD0CF;
        
        height: 45vh;
    }



    #ContenedorSobreNosotros{
        position: relative;
        top: 520px;
        max-width: 100%;
        height: 50vh;
        background: #06141B;
        
    
    }
    .ContenedorSobreNosotros h1{
        color: #CCD0CF;
        position: relative;
        top: 20%; /* Posiciona el título a la mitad de la altura del contenedor */
    
    }

    footer{
        display: none;
    }

    



}